@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* @theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-body: "Geist";
  --font-mono: "Geist Mono";
} */
